.backdrop {
    width: 93%; 
    height: 97%; 
    background-color: #FFFF; 
    border-radius: 25px; 
    position: fixed;
    top: 50%; 
    left: 52%; 
    transform: translate(-50%, -50%); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: center;
    align-items: center;
  }