.side-by-side-container {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 100%; 
    padding: 0; 
    margin-left: -2%;
    box-sizing: border-box;
  }
  .left-component,
  .right-component {
    flex: 1;  
    margin: 0%;
    padding: 0;
    max-width: 100%;
  }
  
  