.statistics-button {
    position: absolute;
    background-color: white;
    bottom: 10%;
    right: 10%;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 36px;
    cursor: pointer;
    z-index: 10;
  }
  .statistics-button:hover {
    border: 2px solid black;
  }
  
  .statistics-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 30%; 
    height: 40%; 
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 20;
    transition: transform 0.3s ease-in-out;
    transform: translateX(1000%);
  }
  
  .statistics-panel.open {
    transform: translateX(0);
  }
  
  .statistics-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
  }
  
  .close-button:hover {
    color: #000;
  }
  
  .statistics-content {
    font-size: 14px;
    color: #555;
  }
